
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f9f7f2;
    color: #3a3a3a;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
